/*___________APPLY.HTML____________*/

.csxl-div{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.csxl-img{
    width: 100%;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aquamarine; */
}

.application-process-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px 50px;
border-radius: 3px;
background-color: #4B9CD3;
width: 90%;
}

h2{
background-color: #7551C0;
width: 90%;
padding: 10px 0px;
border-radius: 7px;
color: #69DC95;
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-major{
width: 100%;
margin-left: 70px;
margin-right: 70px;
text-align: center;

font-size: 17px;
font-family: "Nanum Gothic Coding", monospace;
}


.mailing-list{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px;
border-radius: 3px;
background-color: #4B9CD3;
width: 90%;
}

form{
width: 70%;
margin: 30px 200px;
display: flex;
flex-direction: column;
align-items: center;
}



label{

font-size: 18px;
align-self: flex-start;
font-family: "Nanum Gothic Coding", monospace;
}

.box{
width: 100%;
border-radius: 5px;
height: 30px;
transition-property: border-color, background-color;
transition-duration: 0.3s, 0.1s; 
transition-timing-function: ease;
}

.box:hover{
border-color: black;
background-color: rgb(225, 222, 222);
}

.submit{
text-align: center;
background-color: #7551C0;
color: #69DC95;
font-weight: 700px;
width: 200px;
height: 45px;
border-radius: 10px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
transition: background-color 0.3s ease, color 0.3s ease;
}

.submit:hover, .submit:focus{
background-color:#69DC95;
color: #7551C0;
}

.apply-footer{
grid-row: 4/5;
}


/*___________DESKTOP VIEW____________*/
@media screen and (min-width: 700px) {

    .csxl-div{
        width: 95%;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
    }

    .content{
        grid-row: 2/3;
        flex-direction: row;
        align-items: stretch;
    }


    .mailing-list{
        min-width: 40%;
        padding: 15px;
        margin-top: 200px;
        /* margin-top: 230px; */
    }

    .application-process-div{
        min-width: 40%;
        /* padding: 15px; */
        /* min-height: 455px; */
        margin-top: 200px;
        justify-items: start;

    }

}