body{
    background-image: url("/img/nasa-view-of-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    height:100vh;
}

header{
    width: 100%;
    background-color: aqua;
}