body{
    background-image: url("/img/nasa-view-of-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    height:100vh;
}

.spinning-container{
    width: 200px;
    height: 200px;
    color:white;
    background-color: red;
}

p{
    color: white;
}

